@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
$userfont: 'Roboto', sans-serif;

// Sizes
$gutter: 30px;
$fontsize: 16px;
$lineheight: 1.65; // Document Line Height

// Colors

$accent: #a78bfa;
$black: #232227;
$text-left-side: #CACACA;
$gray: #939393;
$bg-hover: #3A3A3A;
$border-color: #3B3B3C;
$textcolor: #333; // Text Color
